version: "3.8"

services:

  # PROXY (XSUB <-> XPUB)
  proxy:
    build: ./proxy
    image: proxy
    container_name: proxy
    networks:
      - chatnet
    ports:
      - "5558:5558"
      - "5557:5557"
    environment:
      - XSUB_PORT=5557
      - XPUB_PORT=5558

  # REF
  ref:
    build: ./ref
    image: ref
    container_name: ref
    networks:
      - chatnet
    ports:
      - "6000:6000"
    volumes:
      - ref_data:/app/data

  # BROKER
  broker:
    build: ./broker
    image: broker
    container_name: broker
    environment:
      - SERVERS=server_a:7000,server_b:7001,server_c:7002
    networks:
      - chatnet
    ports:
      - "5555:5555"
    depends_on:
     - proxy
     - ref


  # SERVERS
  server_a:
    build: ./server_unified
    image: server_unified
    container_name: server_a
    networks:
      - chatnet
    environment:
      - SERVER_NAME=a
      - SERVER_REP_PORT=7000
      - REF_ADDR=tcp://ref:6000
      - PROXY_PUB_ADDR=tcp://proxy:5557
    volumes:
      - server_a_data:/app/data
    depends_on:
      - ref
      - broker
      - proxy

  server_b:
    build: ./server_unified
    image: server_unified
    container_name: server_b
    networks:
      - chatnet
    environment:
      - SERVER_NAME=b
      - SERVER_REP_PORT=7001
      - REF_ADDR=tcp://ref:6000
      - PROXY_PUB_ADDR=tcp://proxy:5557
    volumes:
      - server_b_data:/app/data
    depends_on:
      - ref
      - broker
      - proxy

  server_c:
    build: ./server_unified
    image: server_unified
    container_name: server_c
    networks:
      - chatnet
    environment:
      - SERVER_NAME=c
      - SERVER_REP_PORT=7002
      - REF_ADDR=tcp://ref:6000
      - PROXY_PUB_ADDR=tcp://proxy:5557
    volumes:
      - server_c_data:/app/data
    depends_on:
      - ref
      - broker
      - proxy

  # CLIENT (Node)
  client:
    build: ./client
    image: client
    container_name: client
    networks:
      - chatnet
    environment:
      - BROKER_REQ=tcp://broker:5555
      - PROXY_SUB=tcp://proxy:5558
    depends_on:
      - broker
      - proxy

  # BOTS (Python)
  bot_1:
    build: ./bot
    container_name: bot_1
    environment:
      - BOT_NAME=bot_1
      - REQ_ADDR=tcp://broker:5555
      - SUB_ADDR=tcp://proxy:5558
    networks:
      - chatnet
    depends_on:
      - broker
      - proxy

  bot_2:
    build: ./bot
    container_name: bot_2
    environment:
      - BOT_NAME=bot_2
      - REQ_ADDR=tcp://broker:5555
      - SUB_ADDR=tcp://proxy:5558
    networks:
      - chatnet
    depends_on:
      - broker
      - proxy

  # ===============================
  #  TUI CLIENT (Node + Blessed)
  # ===============================
 # tui:
  #  image: node:18
   # container_name: tui
    #working_dir: /app
    #volumes:
     # - ./tui_client:/app
    #command: ["node", "tui_client.js"]
    #networks:
     # - chatnet
    #depends_on:
     # - broker
      #- proxy

# NETWORKS
networks:
  chatnet:
    driver: bridge

# VOLUMES
volumes:
  server_a_data:
  server_b_data:
  server_c_data:
  ref_data:
