
services:

  # ----------------------
  # Servidor de referência
  # ----------------------
  ref:
    build: ./ref
    container_name: ref
    environment:
      - REF_PORT=5550
    ports:
      - "5550:5550"
    networks:
      - chatnet

  # ----------------------
  # Broker REQ/DEALER
  # ----------------------
  broker:
    build: ./broker
    container_name: broker
    environment:
      - FRONTEND_ROUTER_ADDR=tcp://*:5555
      - BACKEND_DEALER_ADDR=tcp://*:6000
    ports:
      - "5555:5555"
      - "6000:6000"
    networks:
      - chatnet

  # ----------------------
  # Proxy PUB/SUB
  # XSUB = recebe publicações dos servers
  # XPUB = envia para clients/bots/servers
  # ----------------------
  proxy:
    build: ./proxy
    container_name: proxy
    environment:
      - XSUB_ADDR=tcp://*:5557
      - XPUB_ADDR=tcp://*:5558
    ports:
      - "5557:5557"
      - "5558:5558"
    networks:
      - chatnet

  # ----------------------
  # Servidores
  # ----------------------
  server_a:
    build: ./server
    container_name: server_a
    environment:
      - BROKER_DEALER_ADDR=tcp://broker:6000
      - REF_ADDR=tcp://ref:5550
      - PROXY_PUB_ADDR=tcp://proxy:5557
      - PROXY_SUB_ADDR=tcp://proxy:5558
    networks:
      - chatnet

  server_b:
    build: ./server
    container_name: server_b
    environment:
      - BROKER_DEALER_ADDR=tcp://broker:6000
      - REF_ADDR=tcp://ref:5550
      - PROXY_PUB_ADDR=tcp://proxy:5557
      - PROXY_SUB_ADDR=tcp://proxy:5558
    networks:
      - chatnet

  server_c:
    build: ./server
    container_name: server_c
    environment:
      - BROKER_DEALER_ADDR=tcp://broker:6000
      - REF_ADDR=tcp://ref:5550
      - PROXY_PUB_ADDR=tcp://proxy:5557
      - PROXY_SUB_ADDR=tcp://proxy:5558
    networks:
      - chatnet

  # ----------------------
  # Bots
  # ----------------------
  bot_1:
    build: ./bot
    container_name: bot_1
    environment:
      - BROKER_ADDR=tcp://broker:5555
      - PROXY_SUB_ADDR=tcp://proxy:5558
    networks:
      - chatnet

  bot_2:
    build: ./bot
    container_name: bot_2
    environment:
      - BROKER_ADDR=tcp://broker:5555
      - PROXY_SUB_ADDR=tcp://proxy:5558
    networks:
      - chatnet

  # ----------------------
  # Cliente (interativo)
  # ----------------------
  client:
    build: ./client
    container_name: client
    environment:
      - REQ_ADDR=tcp://broker:5555
      - PROXY_SUB_ADDR=tcp://proxy:5558
    networks:
      - chatnet
    stdin_open: true
    tty: true

# ----------------------
# Rede interna
# ----------------------
networks:
  chatnet:
    driver: bridge
